form.example {
  margin-bottom: 3rem;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  padding: var(--padding);
  color: var(--text);
}

.form-text {
  font-size: var(--sm-font);
}

.form-check {
  margin-bottom: 0.5rem;
}

label.form-check-label {
    padding-left: 0.5rem;
}

label {
  color: var(--black);
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.5rem;
}

input {

}

select.form-control[multiple], select.form-control[size] {
    height: auto;
}

option {

}
